body {
	background-color: black;
	font-family: 'Cabin', sans-serif;
}

.grid {
	border: 2px solid white;
	width: 200px;
	height: 200px;
	display: inline-block;
	color: rgba(0,0,0,0);
	vertical-align: top;
	box-shadow: 9px 7px 22px 1px rgba(255,255,255,1);
}

.container {
	width: 650px;
	height: 700px;
	margin-top: 50px;
	margin-left: 400px;
	vertical-align: top;
}

.o {
	width: 200px;
	height: 200px;
	font-size: 169px;
	text-align: center;
	color: #D49F12;
	background-color: #006073;
}

.x {
	width: 200px;
	height: 200px;
	font-size: 169px;
	text-align: center;
	color: #006073;
	background-color: #D49F12;
}

button {
	margin-left: 650px;
	color: white;
	background-color: #006073;
	border: none;
	width: 75px;
	height: 50px;
}

h1 {
	text-align: center;
	color: white;
	font-size: 4em;
}

#output {
	text-align: center;
	color: white;
	font-size: 60px;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
}